:root {
    --blue: #5847eb;
    --dark-blue: #1c1f4a;
    --very-dark-blue: #0f1424;
    --pale-blue: #bdc1ff;
    --desaturated-blue: #6f76c8;
    --lightred: #ff8c66;
    --soft-blue: #56c2e6;
    --light-red: #ff5c7c;
    --lime-green: #4acf81;
    --violet: #7536d3;
    --soft-orange: #f1c65b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    color: #ffff;
    background-color: var(--very-dark-blue);
}

main#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "user-box work play study"
    "user-box exercise social self-care";
    gap: 1rem;
    width: 58%;
}

div.user-box {
    grid-area: user-box;
    border-radius: 10px;
    background-color: var(--dark-blue);
}

div.user-info {
    height: 74%;
    border-radius: 10px;
    background-color: var(--blue);
    padding: 1.5rem;
}

.user-info img {
    width: 60px;
    height: 60px;
}
#report {
}
.user-info span {
    font-size: 15px;
    opacity: 60%;
}
.user-info #user-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 2rem;
}

div#btns {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.btn {
    opacity: 70%;
    cursor: default;
}

main .work.box {
    grid-area: work;
}
main .play.box {
    grid-area: play;
}
main .study.box {
    grid-area: study;
}
main .exercise.box.box {
    grid-area: exercise;
}
main .social.box {
    grid-area: social;
}
main .self-care.box {
    grid-area: self-care;
}

div.box .box-img {
    border-radius: 10px 10px 0 0;
}

.work.box .box-img {
    background-color: var(--lightred);
}
.play.box .box-img {
    background-color: var(--soft-blue);
}
.study.box .box-img {
    background-color: var(--light-red);
}
.exercise.box .box-img {
    background-color: var(--lime-green);
}
.social.box .box-img {
    background-color: var(--violet);
}
.self-care.box .box-img {
    background-color: var(--soft-orange);
}

div.box .box-img {
    display: flex;
    justify-content: flex-end;
}
div.box .box-img img {
    width: 46px;
    height: 46px;
    margin-right: 10px;
}
div.box .box-body {
    padding: 1.2rem;
    background-color: var(--dark-blue);
    border-radius: 10px;
    z-index: 1;
}

.box-body .box-hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-hd .title {
    font-weight: 600;
    font-size: 18px;
} 
.box-hd img {
    width: 18px;
}

.box-body .current-time {
    font-size: 2rem;
    font-weight: 600;
    margin: 0.4rem 0;
}
.box-body .previous-time {
    opacity: 60%;
    font-size: 0.8rem;
}

.attribution {
    display: none;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}